<!DOCTYPE html>
<html>
  <head>
    <title>Successful Registration</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="w3-jumbo">
        Successfully Registered
    </h1>
    <a href="/teamReg" class="w3-button">Reg link</a>
    <h1>Member 1:<%= kid.name1 %></h1>
    <h1>Member 2:<%= kid.name2 %></h1>
    <% if(kid.name3 != ''){%>
        <h1>Member 3:<%= kid.name3 %></h1>
    <%}%>
    <h1>School: <%=kid.school%></h1>
    <h1>Events:</h1>
    <ul><%for(var i =0; i< kid.event.length; i++){%>
      <li><h1><%=kid.event[i]%></h1></li>
      <%}%> 
    </ul>
    </body>
    <script>
      history.pushState(null, null, document.URL);
      window.addEventListener('popstate', function () {
          history.pushState(null, null, document.URL);
      });
    </script>
</html>
